@import '../../styles/color.scss';
@import '../../styles/variables.scss';
@import '~react-picky/dist/picky.css';

#outerTaskBox{
  top:222px;
  position:absolute;
  z-index:1000;
  margin:17px 15px 30px 17px;
  right:0;
  bottom:638px;
  min-height: 620px;
  width:432px;
  overflow-y: scroll;
}

#taskBox{
  position:relative;
  float:left;
  background-color: color(bright, lightest);
  padding: 23px;
  border-radius: 10px;
}
