{% extends 'public/base.html' %}
{% load crispy_forms_tags i18n %}
{% block content %}
    <form action="{% url 'sms_verify_from' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success"> {% trans "send" %} </button>
    </form>
{% endblock %}