{% extends 'public/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="{% url 'add_person_in_need' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Registrieren</button>
    </form>
{% endblock %}