{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corona-help | Home</title>
    <link rel="stylesheet" type="text/css" href="{% static "public/css/styles.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<!-- Nav Bar -->
<nav class="navbar">
    <div class="navbar-leftpart">
        <a class="navbar-logo" href="#">
            <img src="{% static "public/img/Corona-Help-org-Logo.svg" %}" width="auto" height="40" alt="logo">
        </a>
        <button class="navbar-hotline btn-hotline">

            <img src="{% static "public/img/phone.svg" %}" width="20" height="20" alt="hotline">
            <a  href="tel:066268099862" class="hotline-tel"><p>  Hilfe Hotline <span class="tel"> coming soon </span></p> </a>
            <img src="{% static "public/img/info.svg" %}" width="20" height="20" alt="info">
        </button>
    </div>
    <div class="navbar-buttons">
        <button type="button" class="btn btn-login">Login</button>
        <button type="button" class="btn btn-helper">Melde dich als Helfer! </button>
    </div>
</nav>
<!------Header ---->
<header>
    <h1>{% block title %} Wir wollen Menschen unterstützen, die jetzt am meisten Hilfe brauchen {% endblock %}</h1>

</header>
<!-----section-one ------------>
{% block content %}
<section id="section-one">
    <div class="intro-notes">
        <p>Ältere Menschen, Menschen mit hohem Risiko, Menschen in Quarantäne. Für sie ist der Corona-Virus am gefährlichsten, weswegen sie alle Kontakte meiden sollten. Trotzdem müssen sie ihren Alltag bewältigen.<br><br>

            Zugleich gibt es viele Menschen, die jetzt Zeit haben und helfen wollen, aber nicht wissen, wer in ihrer Nähe Hilfe braucht. <br><br>

            <a href="https://corona-help.org/">corona-help.org </a> bringt Hilfsbedürftige und Freiwillige zusammen – mit einer Telefon-Hotline für Menschen in Not und einer App für Helfer.
        </p>
    </div>
    <div class="boxes">
        <div class="box hotline-box">
            <h2>Unsere kostenlose Hotline für Hilfsbedürftige: </h2>
            <div class="hotline-in-box">
                <img src="{% static "public/img/phone.svg" %}" width="30" height="30" alt="hotline">
                <p> coming soon! </p>
            </div>
        </div>
        <div class="box help-box">
            <h2> Hilf mit: </h2>
            <p>Du hast Zeit, bist gesund und möchtest etwas gegen den Virus tun? Dann schenk hilfsbedürftigen Menschen Zeit und Unterstützung.</p><br>
            <!--<button type="button" class="btn btn-help"> Melde dich an und hilf!</button>-->
            <button type="button" class="btn btn-help"> coming soon</button>

        </div>
    </div>
</section>
<!----section-two --infographic ------>
<section id="section-two">
    <img src="{% static "public/img/Corona-Help-org-Infographic.svg" %}" width="80%" height="auto" alt="infographics">
    <div class="info-infographic">
        <img src="{% static "public/img/info.svg" %}" width="20" height="20" alt="info">
        <p>Das Ziel der Unterstützung ist es, dass Risikogruppen möglichst keinen Kontakt zu Mitmenschen haben. Daher verpflichten sich alle Helfer*innen, bei ihrer Unterstützung den direkten Kontakt auf das Minimum zu reduzieren und den Verhaltensempfehlungen des Bundesamts für Bevölkerungsschutz und Katastrophenhilfe zu folgen.</p>
    </div>
</section>
<!-----section-three ---->
<section id="section-three">
    <h1>Wir von Corona-Help.org sind eine Initiative von Freiwilligen … </h1><br>
    <p> … mit vielseitiger Unterstützung von unterschiedlichen Unternehmen und wollen mit einer kostenlosen Hotline und einer App die Versorgung von Corona-Risikogruppen verbessern.</p>
</section>
<!-----cookies------->
<section id="section-cookies">
    <div class="cookies">
        <p> Wir nutzen Cookies auf unserer Website. <a href="#"> Erfahre mehr darüber</a></p>
        <button type="submit" class="btn btn-cookies">Ablehnen</button>
        <button type="submit" class="btn btn-cookies">Akzeptieren</button>
    </div>
</section>

{% endblock%}
<!--------Footer----->
<footer>
    <a href="#">Impressum</a></p>
    <a href="#">Datenschutz</a>
    <a href="#">Cookies</a>
    <a href="#">Nutzungsbestimmungen</a>
    <select id="language" name="language">
        <option value="DE" selected>DE </option>
        <option value="EN">EN </option>
    </select>
</footer>
</body>
</html>