{% extends 'public/base.html' %}
{% load static %}
{% block js %}
    <script src="/static/js/main.js"></script>
{% endblock %}


{% block content %}
<p>MAIN ACTIVIST PAGE LOGGED IN</p>
{% endblock %}