@import '../../styles/color.scss';
@import '../../styles/variables.scss';

.common-link {
  color: color(dark, base);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  line-height: $line-height-header;
}
h1{

}

h2{
  color:color(green, base);
  font-size:2.0em;
  font-weight: bolder;
}

h3{
  font-size: 1.5em;
  font-weight: 400;
  color: color(dark, base);
  letter-spacing: 1px;

}
.btn {
  background-color: color(yellow, base);
  border-radius: 5px;
  margin: 20px 0 0 0;
  display: block
}